body {
	margin: 0;
}

.container {
	text-align: center;
	font-size: 20px;
	color: white;
}

.section {
	height: 200px;
	float: left;
}

.main {
	background-color: #ffea00;
	width: 60%;
}

.sidebar__left, .sidebar__right {
	background-color: #ccc;
	width: 20%;
}

.header, .footer {
	clear: both;
	width: 100%;
	height: 100px;
	background-color: red;
}

.content {
	min-height: calc(100vh - 100px);
}


